[submodule "Projeto - Recriando a página inicial do Instagram/DIO-Projeto-Recriando-a-pagina-inicial-do-Instagram"]
	path = Projeto - Recriando a página inicial do Instagram/DIO-Projeto-Recriando-a-pagina-inicial-do-Instagram
	url = https://github.com/gdupim/DIO-Projeto-Recriando-a-pagina-inicial-do-Instagram.git
